.mainheading{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 40px;
}

.mainheading1{
    margin-top: 120px;
    text-align: center;
    font-size: 2.3rem;
}

#line1{
    height: 0.4px;
    width: 440px;
    color: black;
    background-color: black;
    margin-bottom: 50px;
}

#achievements,#achieve{
    margin-top: 40px;
    margin-bottom: 27px;
    margin-left: 70px;
    /* color:#52616B ; */
    color: #135D66;
    font-weight: 700;
    transition: transform 0.6s ease-in-out;
}

#achieve:hover{
    text-shadow:0.5px 0.5px 1px rgb(210, 208, 208);
    transform: scale(1.02);
    color: rgb(0, 0, 0);
}
#certification{
    margin-top: 40px;
    margin-bottom: 27px;
    color: #135D66;
    font-weight: 700;
    transition: transform 0.6s ease-in-out;
    
}

#achievements:hover{
    text-shadow:0.5px 0.5px 1px rgb(210, 208, 208);
    /* font-size: 17px; */
    transform: scale(1.02);
    /* color: rgb(208, 6, 6); */
    color: green;
}

#certification:hover{
    text-decoration: underline 1.5px solid black;
    text-shadow:0.5px 0.5px 1px rgb(210, 208, 208);
    transform: scale(1.02);
    color: rgb(206, 54, 54);

}


